/* Card.css */
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    /* Centrado vertical */
    padding: 25x;
}

.card-container {
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
    font-family: Arial, sans-serif;
}

.card-container h2 {
    font-size: 1.5em;
    color: #4a90e2;
    margin-bottom: 10px;
}

.card-container p {
    font-size: 1em;
    margin: 5px 0;
}